<div class="section" id="skills">
  <div class="container">
    <h2 class="text-center font-weight-bolder">Skills</h2>
    <div class="skills-container">
      <mdb-card>
        <mdb-card-body class="skill-card">
          <div class="row">
            <div class="col-md-4 d-flex flex-column">
              <mdb-badge class='skill' pill="true" info="true">HTML / CSS / SCSS</mdb-badge>
              <mdb-badge class='skill' pill="true" info="true">React</mdb-badge>
              <mdb-badge class='skill' pill="true" info="true"
                >AngularJS / Angular 6+</mdb-badge
              >
            </div>

            <div class="col-md-4 d-flex flex-column">
              <mdb-badge class='skill' pill="true" primary="true">JavaScript</mdb-badge>
              <mdb-badge class='skill' pill="true" primary="true">TypeScript</mdb-badge>
              <mdb-badge class='skill' pill="true" primary="true"
                >Jest / Jasmine / Karma</mdb-badge
              >
            </div>

            <div class="col-md-4 d-flex flex-column">
              <mdb-badge class='skill' pill="true" success="true">NodeJS</mdb-badge>
              <mdb-badge class='skill' pill="true" success="true">MongoDB</mdb-badge>
              <mdb-badge class='skill' pill="true" success="true">MySQL</mdb-badge>
            </div>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
