.footer {
  background-color: hsl(0, 0%, 18%);
  margin-top: 4rem;
  padding: 1rem;
}

.footer-copyright {
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.social-link {
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}
