<div class='footer d-flex justify-content-center align-items-center flex-column'>
  <div class="social-link-group position-relative">
    <a
      class="social-link"
      href="https://www.linkedin.com/in/joseph-faulstick/"
      target="_blank"
      ><mdb-icon fab icon="linkedin-in" size="2x"></mdb-icon
    ></a>
    <a
      class="social-link"
      href="https://www.linkedin.com/in/joseph-faulstick/"
      target="_blank"
      ><mdb-icon fab icon="github" size="2x"></mdb-icon
    ></a>
    <a
      class="social-link"
      href="https://twitter.com/joefaulstick/"
      target="_blank"
      ><mdb-icon fab icon="twitter" size="2x"></mdb-icon
    ></a>
    <a
      class="social-link"
      href="mailto://jfaulstick@gmail.com"
      target="_blank"
      ><mdb-icon fas icon="envelope" size="2x"></mdb-icon
    ></a>
  </div>
  <div class='d-flex justify-content-center footer-copyright'>&copy; Joe Faulstick, 2020</div>
</div>

