<div class="container">
  <mdb-card>
    <!--Card content-->
    <mdb-card-body>
      <div class="row">
        <div class="col-lg-6">
          <!--Title-->
          <mdb-card-title>
            <h4><strong>About</strong></h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text>
            Hello! I am a software engineer skilled in both front-end and
            back-end solutions for web applications. Prior to becoming a
            software engineer, I spent 15 years in the video game industry as a
            producer and project manager where I have a proven track record for
            producing quality, award winning AAA titles such as BioShock and
            Civilization VI.
          </mdb-card-text>
        </div>
        <div class="col-lg-6">
          <mdb-card-title>
            <div class="row">
              <div class="col-sm-12">
                <h4><strong>Information</strong></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4"><strong>Email:</strong></div>
              <div class="col-sm-8">jfaulstick@gmail.com</div>
            </div>
            <div class="row">
              <div class="col-sm-4"><strong>Location:</strong></div>
              <div class="col-sm-8">Raleigh-Durham-Chapel Hill, NC.</div>
            </div>
            <div class="row">
              <div class="col-sm-4"><strong>Languages:</strong></div>
              <div class="col-sm-8">English</div>
            </div>
            <div class="row">
              <div class="col-sm-4"><strong></strong></div>
              <div class="col-sm-8"></div>
            </div>
          </mdb-card-title>
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>
