.project-cards-container {
  padding-bottom: 2rem;
}

.project-card {
  width: 22rem;
  margin-top: 2rem;
}

.project-technology {
  margin-right: 0.5rem;
}

.project-links {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .project-card {
    width: auto;
    margin-top: 2rem;
  }
}