<div class="section" id="projects">
  <div class="container">
    <h2 class="text-center font-weight-bolder">Projects</h2>
    <div class="card-deck">
      <div *ngFor="let project of projects" class="col-md-4">
        <!-- Card -->
        <mdb-card class="project-card">
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img
              class='project-img-card'
              src="{{ project.imgUrl }}"
              alt="Card image cap"
            ></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>{{ project.title }}</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>
              {{ project.text }}
            </mdb-card-text>

            <div class='d-flex justify-content-center'>
              <mdb-badge *ngFor='let tech of project.technologies' class='project-technology' info="true">{{tech}}</mdb-badge>
            </div>

            <div class='d-flex justify-content-between project-links'>
              <a
              *ngIf="project.linkGithub"
              href="{{ project.linkGithub }}"
              mdbBtn
              class="btn-sm"
              color="primary"
              mdbWavesEffect
              target="_blank"
              >GitHub</a
            >
            <a
              *ngIf="project.linkLive"
              href="{{ project.linkLive }}"
              mdbBtn
              class="btn-sm"
              color="primary"
              mdbWavesEffect
              target="_blank"
              >Live Demo</a
            >
            </div>
          </mdb-card-body>
        </mdb-card>
        <!-- Card -->
      </div>
    </div>
  </div>
</div>
