<div class="view intro-2">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <img
          src="../../../assets/images/joe-1.jpg"
          class="mx-auto mt-4 mb-4 joe-avatar"
          alt="joe-avatar"
        />
        <h1 class="mb-1">Joe Faulstick</h1>
        <h4 class="mb-3">Front End Developer, Full Stack Developer</h4>
        <div>
          <a
            mdbBtn
            color="light"
            mdbWavesEffect
            href="../../../assets/files/Joseph_Faulstick_2020.docx"
            target="_blank"
            >Resume (.docx)
          </a>
          <a
            mdbBtn
            color="dark"
            mdbWavesEffect
            href="../../../assets/files/Joseph_Faulstick_2020.pdf"
            target="_blank"
            >Resume (.pdf)
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

