<div class="view intro-2">
  <div class="full-bg-img">
    <div class="mask rgba-black-strong flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <img
          src="../../../assets/images/joe-1.jpg"
          class="mx-auto mt-4 mb-4 joe-avatar"
          alt="joe-avatar"
        />
        <h1 class="mb-1">Joe Faulstick</h1>
        <h4 class="mb-3">Front End Developer, Full Stack Developer</h4>
        <div>
          <a
            mdbBtn
            color="light"
            mdbWavesEffect
            href="../../../assets/files/Joseph_Faulstick_2020.docx"
            target="_blank"
            >Resume (.docx)
          </a>
          <a
            mdbBtn
            color="dark"
            mdbWavesEffect
            href="../../../assets/files/Joseph_Faulstick_2020.pdf"
            target="_blank"
            >Resume (.pdf)
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center">
  <div class="social-link-group position-relative">
    <a
      class="social-link primary-dark"
      href="https://www.linkedin.com/in/joseph-faulstick/"
      target="_blank"
      mdbBtn
      ><mdb-icon fab icon="linkedin-in" size="2x"></mdb-icon
    ></a>
    <a
      class="social-link dark"
      href="https://www.linkedin.com/in/joseph-faulstick/"
      target="_blank"
      mdbBtn
      ><mdb-icon fab icon="github" size="2x"></mdb-icon
    ></a>
    <a
      class="social-link info"
      href="https://twitter.com/joefaulstick/"
      target="_blank"
      mdbBtn
      ><mdb-icon fab icon="twitter" size="2x"></mdb-icon
    ></a>
    <a
      class="social-link mail"
      href="mailto://jfaulstick@gmail.com"
      target="_blank"
      mdbBtn
      ><mdb-icon fas icon="envelope" size="2x"></mdb-icon
    ></a>
  </div>
</div>
