.view {
  background: url("../../../assets/images/apple-black-coffee-business-coffee-461064.jpg")no-repeat center center;
  background-size: cover;
  height: 70vh;
}

.joe-avatar {
  width: 10rem;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .joe-avatar {
    width: 5rem;
  }
}