/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eceff1;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #2E2E2E !important;
}

.section {
  padding-top: 5rem;
}

.project-img-card {
  height: 20rem;
  width: 22rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #2E2E2E !important;
  }
}