<div class="section">
  <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
    <div class="timeline-entry-inner">
      <div class="timeline-icon {{ iconColor }}">
        <i class="icon-pen2"></i>
      </div>

      <mdb-card class="experience-card wow slideInRight">
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title
            ><div class="row">
              <div class="col-sm-12 col-md-6 d-flex justify-content-between">
                <h4>{{ jobTitle }}</h4>
              </div>
              <div class="col-sm-12 col-md-6 d-flex justify-content-end">
                <div class="experience-date">
                  {{ startDate }} - {{ endDate }}
                </div>
              </div>
            </div>
          </mdb-card-title>

          <div class="row">
            <div class="col-sm-6 d-flex justify-content-between">
              <h5>{{ company }}</h5>
            </div>
            <div class="col-sm-6 d-flex justify-content-end">
              <div class="experience-location">
                <i>{{ location }}</i>
              </div>
            </div>
          </div>

          <!--Text-->
          <mdb-card-text [innerHTML]="description"> </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
  </article>
</div>
